[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "==5.22.0"
numpy = "==2.0.0"
polars = "==1.1.0"
pyqt6 = "==6.7.0"
pyqt6-webengine = "*"
qt-material = "==2.14"

[dev-packages]

[requires]
python_version = "3.11"
