[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "==5.22.0"
pyqtdarktheme = "==2.1.0"
numpy = "*"
polars = "*"
pyqt6 = "*"
pyqt6-webengine = "*"
qt-material = "==2.14"

[dev-packages]

[requires]
python_version = "3.11"
